.settingDisplay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .settingForm {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/background/menu.png");
    background-size: cover;
    background-position: center;
    text-align: center;
  }
 
.wrapper{
    width:calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .top{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 150px;
  }

  .top label{
    font-size: 32px;
    color: black;
  }

  .homebtn{
    background: none;
    width: 10%;
    border: none;
    cursor: pointer;
  }

  .topWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    width: 100%;
    
  }

  .topWrapper img{
    margin-left: 120px;
    margin-right: 20px;
  }
  .topWrapper label{
    font-size: 14px;
    color: #777C89;
    text-decoration: underline;
  }
.bodyWrapper1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bodyWrapper1 label{
    font-size: 14px;
}

.bodyWrapper1_1{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:60%;
    margin-bottom: 5px;
}

.bodyWrapper1_2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 60%;
    margin-top: 30px;
    margin-bottom: 5px;
}

.inputn{
    width: 80%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
    color: black;
    background-color: #A4ABBC;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 20px;
}

.inputn::placeholder {
    display: inline-flex;
    font-weight: 400;
    color: #777c89;
    font-size: 24px;
  }
.inputp{
    width: 80%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
    color: black;
    background-color: #A4ABBC;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 20px;
}
.inputp::placeholder{
    display: inline-flex;
    font-weight: 400;
    color: #777c89;
    font-size: 20px;
}
.bodyWrapper2_1{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 50%;
        margin-top: 10px;
        margin-bottom: 5px;

}

.bodyWrapper2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.textbW2{
    color: #777C89;
    font-size: 14px;
    margin-right: 60%; 
}

.change1{
    color:#777C89;
    text-decoration: underline;
}
.change2{
    color:#777C89;
    text-decoration: underline;
}
.perm{
    color:#777C89;
    text-decoration: underline;
}
.bodyWrapper2 label{
    font-size: 14px;
}
  .bottomWrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.leave{
    color: #777C89;
    text-decoration: underline;
}
  .delete{
    color: red;
    text-decoration: underline;
  }