/* buttonStyles.css */

/* 버튼 스타일 */
.copy-button {
    background-color: #0b4f61; /* 배경색 */
    color: #ffebc7; /* 텍스트 색상 */
    padding: 20px 40px; /* 크기 조정 */
    text-align: center;
    width: 50%;
    font-size: 24px; /* 텍스트 크기 */
    border: none;
    border-radius: 20px; /* 둥근 모서리 */
    cursor: pointer;
    font-family: 'Arial', sans-serif; /* 폰트 패밀리 */
    position: relative; /* 부모 요소 기준으로 위치 설정 */
    top: 400px; /* 버튼을 아래로 내림 */
  }
  
  /* hover 시 스타일 */
  .copy-button:hover {
    background-color: #075359; /* 호버 시 배경색 */
  }
  