.sidebar {
  position: fixed;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #022c43;
  color: white;
  transition: right 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar.open {
  right: 0;
}

.sidebar h2 {
  margin-left: 20px;
  color: #fff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #03526b;
}

.sidebar hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #777c89;
}

.toggle-button {
  background: none;
  width: 10%;
  border: none;
  cursor: pointer;
  position: fixed;
  margin-left: 130px; 
  z-index: 1001;
}

/* .toggle-button:hover {
    background-color: #024a62;
  } */
