.findpassword_display {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  
  .findpassword_form {
    width: 100%;
    max-width: 520px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/background/background.png");
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .top {
    display: flex;
    justify-content: center;
    gap: 25%;
    padding-right: 30%;
    width: 100%;
    padding-bottom: 10%;
  }
  
  .back {
    background: none;
    width: 10%;
    border: none;
    cursor: pointer;
  }
  
  .back img {
    width: 30px;
    height: 30px;
  }
  
  .title {
    text-align: center;
    white-space: nowrap;
    font-size: 24px;
    color: #03526b;
  }
  
  .Wrapper{
    gap: 30px;
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom:90%;
  }

  .Wrapper label {
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 5px; /* label 요소에만 적용 */
    color: #03526b;
  }
  
  .input::placeholder {
    background-image: url("/src/assets/icon/emailicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 1px center;
    background-position-x: 15px;
    text-align: center;
    text-indent: 0;
    display: inline-flex;
    font-weight: 400;
    color: #777c89;
    font-size: 16px;
  }

  .input {
    width: calc(100% - 102px);
    height: 60px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
    background-color: #fdf0cc;
  
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    letter-spacing: 2px;
  }

  .Wrapper button{
    width: calc(100% - 102px);
    height: 60px;
    border-radius: 16px;
    border: none;
    background-color: #03526b;
    color: #fdf0cc;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
  }