.start_display{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.start_form {
    width: 100%;
    max-width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('/src/assets/background_sun.png');
    background-color: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    
    }

.start_form h1{
    text-align: center;
    white-space : nowrap;
    font-size: 48px;
    color: #03526B;
}


.start_form button{
    box-sizing: border-box;
    width: 80%;
    height: 60px;
    background-color: #FDF0CC;
    border-radius: 25px;
    border: none;
    color: #03526B;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    cursor: pointer;
}

