.setpassword_display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.setpassword_form {

  width: 100%;
  gap: 40px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/background/background.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.title {
  margin-top: 40px;
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  color: #03526b;
}

.Wrapper {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom:80px;
}

.Wrapper label{
    padding-right: 70%;
    font-size: 16px;
    margin-bottom: 5px; 
    color: #03526b;
}
.input::placeholder {
  background-image: url("/src/assets/icon/lockicon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 1px center;
  background-position-x: 5px;
  text-align: center;
  padding-left: 25px;
  text-indent: 0;
  display: inline-flex;
  font-weight: 400;
  color: #777c89;
  font-size: 16px;
}

.input {
  width: calc(100% - 102px);
  height: 60px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 1px solid #ccc;
  background-color: #fdf0cc;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 2px;
}
.errorInput {
  border: 3px solid red; /* 테두리 빨간색 */
}

.errorMessage {
  color: red; /* 오류 메시지 빨간색 */
  font-size: 12px;
  margin-top: -8px;

}
.signup {
  margin-top: 160px;
  width: calc(100% - 102px);
  height: 60px;
  background-color: #03526b;
  border-radius: 16px;
  border: none;
  color: #fdf0cc;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 10%;
}
