.emailcheck_display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.emailcheck_form {
  width: 100%;
  max-width: 520px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/background/emailcheck.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.top {
  display: flex;
  justify-content: center;
  gap: 25%;
  padding-right: 30%;
  width: 100%;
  padding-bottom: 20%;
  
}
.back {
  background: none;
  width: 10%;
  border: none;
  cursor: pointer;
}

.back img {
  width: 30px;
  height: 30px;
}

.title {
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  color: #ffffff;
}

.text_top {
  width: 100%;
  font-size: 20px;
  color: #ffffff;
}

.aftercheck {
  width: 80%;
  max-width: 100%;
  height: 60px;
  max-height: 150px;
  box-sizing: border-box;

  border: none;
  border-radius: 16px;

  background-color: #2589ff;
  color: #ffffff;

  text-align: center;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  letter-spacing: 3px;
  cursor: pointer;
}


.inputs_container {
  display: flex;
  height: 10%;
  padding-left: 20px;
  padding-right:20px;
  gap: 10px; /* 입력칸 사이의 간격 조정 */
}

.code_input {
  width: 60%; /* 입력칸의 너비 조정 */
  height: 60px; /* 입력칸의 높이 조정 */
  text-align: center;
  font-size: 32px;
  border-radius: 10px;
  border: 1px solid #007da4;
  background-color: #007da4;
  color: #ffffff;
}

.time {
  width: 100%;
  font-size: 14px;
  color: #ffffff;
}

.codeagain {
  padding-top: 35%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.codeagain label {
  color: #ffffff;
}
.codeagain button {
  background-color: #2589ff;
  color: #ffffff;
  border-radius: 16px;
  border: none;
  height: 30px;
  cursor: pointer;
}

.timeExpiredMessage {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  
  .resendButton {
    color: #ffffff;
    text-decoration: underline;
    /* background-color: #2589ff;
    border-radius: 16px;
    border: none; */
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .resendButton:hover {
    /* background-color: #2589ff; */
  }
  
  .modalDisplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }