.emailcheck_display{
    display:flex;
    justify-content: center;
}
.emailcheck_form {
    position: relative;
    width: 100vw;
    max-width: 980px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #194981;
    background-size: cover;
    background-position: center;
    
    }

.emailcheck_form label{
    position: absolute;
    top: 3%; /* Vertical center */
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    white-space : nowrap;
    font-size: 50px;
    color: #FFFFFF;
        
}

.emailcheck_form p{
    position: absolute;
    top: 10%; /* Vertical center */
    left: 43%;
    transform: translate(-50%);
    text-align: left;
    white-space : nowrap;
    font-size: 40px;
    color: #FFFFFF;
        
}
    
.emailcheck_form button{
    width: 80%;
    max-width: 840px;
    height: 8%;
    max-height: 150px;

    
    position: absolute;
    top: 40%; /* Vertical center */
    left: 50%; /* Horizontal center */
    transform: translate(-50%, -50%); /* Adjust for button size */
    box-sizing: border-box;

    border: none;
    border-radius: 25px;
 
   
    background-color: #2589FF;
    color:#FFFFFF;

    text-align: center;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 20px;
   
    letter-spacing: 3px;
    cursor: pointer;

}

.emailcheck_form input{

        position: absolute;
        top: 30%; /* Vertical center */
        left: 50%; /* Horizontal center */
        transform: translate(-50%, -50%); /* Adjust for button size */
        
       
        width: 80%;
        max-width: 840px;
        height: 8%;
        max-height: 150px;
        box-sizing: border-box;
    
        border-radius: 25px;
        border: none;
    
        color: #FFFFFF;
        background-color: #007DA4 ;
       
    
        font-weight: 400;
        font-size: 4rem;
        line-height: 20px;
        text-align: center;
        letter-spacing: 30px;
    
    
}