.createaccount_form {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('C:\Users\heydy\Desktop\bingsoochef\src\assets\background.png');
    background-size: cover;
    background-position: center;
    
    }

.title {
    position: absolute;
    top: 5%; /* Vertical center */
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    white-space : nowrap;
    font-size: 50px;
    color: #03526B;
}


.input label{
    position: absolute;
    top:24%; /* Vertical center */
    left:18%;
    transform: translate( -50%); /* Adjust for button size */
    padding:10px;
    font-size: 25px;
    box-sizing: border-box;
    margin-bottom: 5px; /* label 요소에만 적용 */
    color: #03526B;
    
}

.input input{
    position: absolute;
    top: 30%; /* Vertical center */
    left: 50%; /* Horizontal center */
    transform: translate(-50%, -50%); /* Adjust for button size */
    
   
    width: 70%;
    max-width: 820px;
    height: 8%;
    max-height: 150px;
    box-sizing: border-box;

    border-radius: 25px;
    border: none;

    color: #03526B;
    background-color: #FDF0CC ;
   

    font-weight: 400;
    font-size: 3rem;
    line-height: 20px;
    text-align: left;
    letter-spacing: 2px;
}




.createaccount_form button{
    
    position: absolute;
    top:36%; /* Vertical center */
    left: 50%; /* Horizontal center */
    transform: translate(-50%);


    width: 70%;
    max-width: 820px;
    height: 8%;
    max-height: 150px;
    box-sizing: border-box;

    border-radius: 25px;
    border: none;

 
    color: #FDF0CC;
    background-color: #03526B;

    font-weight: 400;
    font-size: 4rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;

}